@import 'styles/common';
.token-investment {
  margin-bottom: 40px !important;
  .token-investment-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    .plusSign {
      font-size: 32px;
      padding-bottom: 14px;
    }
    .eqSign {
      font-size: 32px;
      padding-bottom: 10px;
    }
    .mulSign {
      font-size: 20px;
      padding-bottom: 10px;
    }
  }
  .graph {
    position: relative;
    flex: 1;
    height: 135px;
    margin: 9px;
  }
  .actions, .total {
    width: 170px;
  }
  .total {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actions {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    button {
      margin-bottom: 15px;
    }
    padding: 10px;
  }
  .amount-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    .amount-note-amount {
      white-space: nowrap;
      color: $color-error;
      font-size: 30px;
    }
    .amount-note-note {
      white-space: nowrap;
      color: $color-grey;
      font-size: 15px;
    }
  }
}
