$header-height: 65px;
body {
  background-color: rgb(244,240,242);
  overflow-y: scroll;
}
.app {
  .app-header {
    height: $header-height;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(248,248,248);
    z-index: 1;
    .container {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .logo{
        font-size: 15px;
        text-transform: uppercase;
        .prefix {
          color: red;
        }
      }
      .app-menu {
        margin-left: 70px;
        height: 100%;
      }
      > .Select, .syncWithGDrive{
        margin-right: 30px;
      }
      > .Select {
        margin-top: 5px;
        margin-left: auto;
      }
    }
  }
  .app-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .placeholder {
      height: $header-height;
    }
    .container {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
