.Select.locale-select {
  .Select-menu-outer {
    border: none !important;
    box-shadow: -1px 2px 15px 3px rgba(0,0,0,0.2);
  }
  .Select-option {
    &.is-selected:not(.is-focused) {
      background-color: initial !important;
    }
    &:before {
      visibility: hidden;
      content: '\2713';
      margin-right: 10px;
    }
    &.is-selected:before {
      visibility: visible;
    }
  }
  .Select-control {
    &:hover {
      box-shadow: none !important;
    }
    cursor: pointer;
    background-color: initial;
    border: none;
    .Select-arrow-zone {
      position: relative;
      right: 18px;
    }
    * {
      position: static;
    }
    .Select-multi-value-wrapper {
      display: flex;
      align-items: center;
    }
    .Select-value {
      padding-right: 0px;
    }
  }
}
