@import 'styles/common';
.storageSettings {
  .group {
    &:first-child {
      margin-bottom: 25px;
    }
    .auth-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        margin-left: 10px;
        i {
          margin-right: 5px;
        }
      }
      .fail {
        color: $color-error;
      }
      .ok {
        color: $color-success;
      }
    }
    .option {
      padding: 10px 0px;
      input {
        margin-right: 5px;
      }
    }
  }
}
