@import 'styles/common';
.syncWithGDrive-wrapper {
  position: relative;
  .popup {
    .triangle {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: -13px;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 13.0px 7.5px;
      border-color: transparent transparent #ffffff transparent;
    }
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 20px;
    .message {
      color: $color-error;
      font-size: 18px;
      white-space: nowrap;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin: 20px 20px 0px 20px;
    }
  }
  .syncWithGDrive {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    .icon {
      background-image: url("/images/gdrive_logo.png");
      background-size: contain;
      width: 30px;
      height: 30px;
    }
    .status {
      i {
        margin-right: 5px;
      }
      white-space: nowrap;
      margin-left: 8px;
    }
    &.disabled {
      opacity: 0.3;
      .icon {
        background-image: url("/images/gdrive_logo_mono.png");
      }
    }
    &.synced, &.syncing {
      .status {
        color: $color-success;
      }
    }
    &.out_of_sync {
      .status {
        color: $color-error;
      }
    }
  }
}
