@import 'styles/common';
.transaction {
  padding: 10px 15px;
  position: relative;
  .tx-description {
    font-size: 20px;
  }
  .tx-status-fail {
    color: $color-error;
    font-size: 20px;
    font-weight: bold;
  }
  .tx-status-success {
    color: $color-success;
    font-weight: bold;
  }
  .status-eq{
    color: black;
    a {
      color: black;
    }
  }
  .status-plus {
    color: $color-success;
    a {
      color: $color-success;
    }
  }
  .status-minus {
    color: $color-error;
    a {
      color: $color-error;
    }
  }
  .tx-accounts {
    td {
      padding: 5px;
    }
    .acc-name {
      white-space: nowrap;
    }
    .acc-value {
      width: 99%;
    }
  }
  .tx-amount {
    font-size: 25px;
  }
  .tx-status {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .tx-date{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
