@import 'styles/common';

form {
  /* when modal opens, page content moves */
  margin: 0px;
}

.box-nocontent{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
