.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  .account-name {
    font-weight: bold;
    margin-right: 10px;
  }
  .account-identicon{
    flex-shrink: 0;
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
  .account-address {
    font-family: monospace;
  }
}
