.actionButton {
  display: inline-block;
  margin-left: 20px;
  border: 1px solid grey;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: grey;
  font-weight: lighter;
  cursor: pointer;
  position: relative;
  text-align: center;
  i {
    line-height: 40px;
    font-size: 20px;
    vertical-align: middle;
  }
}
