.app-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  .app-menu-item {
    height: 100%;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
    text-decoration: none;
    &.active {
      color: red;
      border-bottom: 5px solid red;
      padding-top: 5px;
    }
  }
}
