@import 'styles/common';
.box {
  &.error .header .title{
    color: $color-error;
  }
  .header {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    button {
      margin-left: auto;
      background: none;
      border: none;
      font-size: 24px;
    }
  }
  .body {
    position: relative;
  }
}
