@import 'styles/common';
.btn {
  // for spinner icon
  position: relative;
  .btn-spinner-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      top: 0px !important;
    }
  }
  &.btn-default {
    color: $color-grey;
  }
  &.btn-primary {
    &[disabled]:hover {
      background: none;
      border: 2px solid #a29696;
    }
    &:focus {
      background-color: $color-grey !important;
      color: white !important;
    }
    background: none;
    border: 2px solid $color-grey;
    color: $color-grey;
  }
  &.btn-danger {
    color: white;
    background: $color-error;
  }

}
