.decimals {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.4em;
  vertical-align: text-top;
  margin-left: 1em;
  .decimals-value, .decimals-label {
    white-space: nowrap;
    margin: auto;
  }
}

.form-group .decimals {
  font-size: 0.8em;
}
