.th-dropdown {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0%;
  margin-top: 5px;
  box-shadow: -1px 2px 15px 3px rgba(0,0,0,0.2);
  .th-dropdown-option {
    &:hover {
      background-color: rgba(0, 126, 255, 0.08);
    }
    cursor: pointer;
    color: black;
    font-weight: normal;
    font-size: 18px;
    white-space: nowrap;
    padding: 10px 20px;
  }
}
