@import 'styles/common';
.interval-select {
  text-transform: none;
  * {
    margin: 0px 5px;
    font-weight: bold;
  }
  .interval-option {
    cursor: pointer;
    &.active {
      text-decoration: underline;
      color: $color-active;
    }
  }
}
