.modal-container {
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50,50,50,0.5);
  .modal-content {
    width: 500px;
    max-height: 100%;
    overflow-y: auto;
  }
  .modal-title {
    display: flex;
    font-size: 20px;
    align-items: center;
    .modal-close {
      margin-left: auto;
    }
  }
  .modal-footer {
    button:first-child {
      float: left;
    }
    button:only-child {
      display: block;
      margin: auto;
      float: none;
    }
  }
}

