.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  .pg-header {
    .header-container {
      display: flex;
      align-items: center;
    }
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    font-size: 15px;
    flex-shrink: 0;
    .title {
      width: 100%;
      text-transform: uppercase;
    }
  }
  .content {
    position: relative;
    height: 100%;
    .network-error {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .no-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
