.rich-acc-select{
  white-space: nowrap;
  cursor: pointer;
  .rich-acc-select-drop {
    color: grey;
    font-size: 12px;
    margin-left: 5px;
  }
}

.rich-account-dropdown, .rich-acc-select {
  .rich-acc-select-name {
    font-weight: bold;
  }
  .rich-acc-select-address {
    color: grey;
    font-weight: lighter;
    font-size: 12px;
    margin-left: 13px;
  }
}

.rich-account-dropdown {
  min-width: 500px;
  .separator {
    width: 100%; 
    height: 9px; 
    border-bottom: 1px solid grey; 
    text-align: center;
    margin: 0px 0px 10px 0px;
    .title {
      text-transform: uppercase;
      color: grey;
      font-size: 13px; 
      background-color: white;
      padding: 0px 10px;
    }
  }
  .th-dropdown-option {
    &.active, &:hover {
      background-color: rgba(0, 126, 255, 0.08);
    }
    font-size: inherit !important;
    padding: 5px 10px !important;
  }
  form {
    display: flex;
    input {
      flex: 1;
      margin: 10px 10px;
    }
  }
}

